@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
  //Responsive typography
  --font: 'Open-sans', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

body {
  line-height: 1.5;
  font-family: var(--font);
  font-size: var(--fs-base);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}
