:root {
  //Theme scheme
  --color-bg: #000;
  --color-fg: #ffffff;
  --content-bg: #333;
  --blue: #201652;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f2f2f2;
    --color-fg: #000;
    --content-bg: #fff;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: minmax(120px, max-content) 1fr minmax(320px, 380px);
  min-height: 100vh;
}
