@mixin flex($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin hover($hover, $color: $c-bg, $percent: 5%) {
  @if ($hover == 'darken') {
    background-color: darken($color, $percent);
  } @else if($hover == 'lighten') {
    background-color: lighten($color, $percent);
  }
}
