.people-bar {
  @include flex(column, 1rem);

  @media (max-width: 900px) {
    display: none;
  }
}

.people {
  max-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item + &__item {
    margin-block-start: 1rem;
  }
}
