.people-bar {
  animation: fade-left 250ms forwards;
  @include flex(column, 1rem);

  .search-bar,
  &__custom__list {
    position: relative;
    z-index: 8;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    background-color: $c-bg;
    inset: 0;
  }

  &.mobile {
    display: none;
    transform: translateX(100px);
    position: absolute;
    inset: 0;
    padding: 1rem;
    > *:first-child {
      margin-top: 5rem;
    }
  }

  &.is-active {
    display: flex;
  }
}

@keyframes fade-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: initial;
  }
}
