.people-bar {
  @include flex(column, 1rem);
  @extend .transition;

  .people {
    max-height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item + &__item {
      margin-block-start: 1rem;
    }
  }

  &.mobile {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    top: 4rem;
    animation: fade-left 250ms forwards;

    & > * {
      z-index: 8;
      width: 80vw;
      margin: 0 auto;
    }

    .search-bar {
      margin-block-start: 1rem;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $c-bg;
    }
  }

  &.mobile.is-active {
    display: flex;
    transform: initial;
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(999%);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}
