.person-card {
  cursor: pointer;
  font-weight: 700;

  @extend .transition;
  @extend .card;

  &__header {
    justify-content: space-between;

    &,
    > div {
      @include flex(row, 1rem);
      align-items: center;
    }

    .avatar {
      --width: 2.25rem;
    }

    .icon:hover {
      background-color: unset;
    }
  }

  &__content {
    display: none;
    @extend .transition;

    .person {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      overflow: hidden;
      font-size: 16px;

      .person-att-desc {
        font-weight: 400;
      }
    }
  }

  &.is-active {
    @include flex(column, 1rem);

    .person-card {
      &__header {
        .icon {
          transform: rotate(-90deg);
        }
      }
      &__content {
        @include flex(column, 0.25rem);
      }
    }
  }
}
