.person-card {
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
  @extend .transition;
  @extend .card;

  &:hover {
    @include hover(darken, $c-primary, 0%);
  }

  &__header {
    justify-content: space-between;

    &,
    > div {
      @include flex(row, 1rem);
      align-items: center;
    }

    .avatar {
      --width: 2.25rem;
    }

    .icon:hover {
      background-color: unset;
    }
  }

  &__content {
    display: none;
    padding-block: 1rem;
    @extend .transition;

    .person {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;

      .person-att {
        font-size: 16px;
      }
      .person-att-desc {
        font-weight: 400;
        font-size: 15px;
        // width: min-content;
      }
    }
  }

  &.is-active {
    @include flex(column, 0.5rem);
    border-radius: 1rem;

    &:hover {
      @include hover(lighten, $c-bg, 5%);
    }

    .person-card__header {
      .icon {
        transform: rotate(-90deg);
      }
    }

    .person-card__content {
      display: block;
    }
  }
}
