.avatar {
  --width: 1.75rem;
  width: var(--width);
  height: var(--width);
  min-width: var(--width);
  min-height: var(--width);
  box-sizing: initial;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}
