.avatar {
  $width: 2.5rem;
  width: $width;
  height: $width;
  min-width: $width;
  min-height: $width;
  box-sizing: initial;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 900px) {
    $width: 1.5rem;
  }
}
