.page-header__title {
  @include flex(row, 1rem);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 10;
  position: relative;

  a {
    font-size: 20px;
    font-weight: 700;
  }

  .icon {
    display: none;
    &.is-active,
    &:hover {
      color: $c-primary;
    }

    @media (max-width: 900px) {
      display: initial;
    }
  }
}
