.nav {
  --padding: 0.5rem 1rem;
  --border-radius: 999px;
  @include flex(column, 0.5rem);

  padding: 1rem;
  font-size: 1.25rem;
  height: 100vh;

  .logo,
  &__item,
  &__profile {
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;

    @extend .transition;
  }

  .logo:hover,
  &__item:hover,
  &__profile:hover {
    @include hover(lighten);
  }

  &__list {
    @include flex(column, 0.5rem);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon {
      font-size: 28px;
    }
    &.is-active {
      font-weight: 700;
    }
    @media (max-width: 1026px) {
      .section {
        display: none;
      }
    }
  }

  &__profile {
    display: flex;
    gap: 1rem;
    margin-top: auto;
    align-items: center;

    .avatar {
      --width: 2.5rem;
    }

    .profile__info {
      @include flex(column, 0);
      font-size: 15px;
    }

    .see-more {
      width: 24px;
      fill: white;
    }
  }

  @media (max-width: 1026px) {
    & {
      align-items: center;
    }
    &__profile {
      .profile__info,
      .see-more {
        display: none;
      }
    }
  }
}

.logo {
  width: 8rem;
  min-width: 1.75rem;
  fill: $color-fg;
  margin-block-end: 0.5rem;
}
