.post-card {
  display: flex;
  gap: 1rem;
  // border-bottom: 1px solid #303030;
  background-color: lighten($color-bg, 5%);
  padding: 1rem;
  border-radius: 1rem;

  .avatar {
    --width: 3rem;
  }

  &__form {
    &,
    textarea {
      width: 100%;
    }

    textarea {
      background-color: transparent;
      border: none;
      outline: none;
      resize: none;
      color: $color-fg;
      border-bottom: 1px solid #303030;
      font-size: 1.25rem;
    }

    .form__controls {
      display: flex;
      justify-content: space-between;
      .icon {
        box-sizing: initial;
        padding: 0.5rem;
        fill: $c-primary;
        width: 1.5rem;
        height: 1.5rem;
        aspect-ratio: 1/1;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          @extend .hover;
        }
      }
    }
  }
}
