.new-post {
  @include flex(row, 1rem);

  &__form {
    &,
    textarea {
      width: 100%;
    }

    textarea {
      background-color: transparent;
      border: none;
      outline: none;
      resize: none;
      color: $color-fg;
      border-bottom: 1px solid lighten($color-bg, 20%);
      font-size: 1.25rem;
      @extend .transition;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: $c-primary;
      }

      &::-webkit-scrollbar-thumb:hover {
        @include hover(darken, $c-primary);
      }

      &:focus,
      &:not(:placeholder-shown) {
        border-bottom: 1px solid $c-primary;
      }
    }

    .form__controls {
      display: flex;
      justify-content: space-between;
      .icon {
        box-sizing: initial;
        padding: 0.5rem;
        fill: $c-primary;
        width: 1.5rem;
        height: 1.5rem;
        aspect-ratio: 1/1;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          @include hover(darken, $c-primary, 45%);
        }
      }
    }
  }
}
