.post-card {
  @include flex(row, 1rem);
  font-size: 0.9375rem;

  &__content {
    @include flex(column, 0.5rem);
    width: 100%;

    .content__header {
      @include flex(row, 0.5rem);
      flex-wrap: wrap;

      .user-name:hover {
        text-decoration: underline;
      }
    }

    .content__controls {
      @include flex(row, 1rem);
      justify-content: flex-end;
      align-items: center;
    }
  }

  @media (max-width: 600px) {
    .content__header {
      flex-direction: column;
      gap: 0;
    }
  }
}
