.user-list {
  max-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  li + li {
    margin-block-start: 1rem;
  }

  &__item {
    @include flex(row, 1rem);
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
    @extend .transition;

    &:hover {
      @include hover(darken, $c-primary, 40%);
    }

    .avatar {
      --width: 1.5rem;
    }
  }
}
